
.homecont{
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
    min-width: 80%;
    max-width: 100%;
    position: center;
}
.stopa{
margin-top: 100px;
}
.mapa{
    position: center;
    
    margin-left: 33%;
}